body {
  margin: auto;
  padding: auto;
}

header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  margin: 0;
  padding: 0;
  display: flex;
}
ul.nav-bar {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
}
.nav-bar a {
  text-decoration: none;
  color: black;
  margin-right: 48px;
}
.nav-bar a:hover {
  text-decoration: underline solid blue 2px;
}
.nav-bar:active {
  color: aqua;
}
.nav-bar li {
  list-style-type: none;
}

.mail {
  margin: 0;
  padding: 0;
  display: flex;
}
.mail a {
  font-size: 14px;
  display: block;
  margin-right: 50px;
  text-decoration: none;
  color: grey;
}
.mail a:hover {
  text-decoration: underline solid blue 2px;
}
.logo {
  font-size: 26px;
  font-weight: 700;
  color: black;
  text-decoration: none;
  margin: 24px 93px 25px 215px;
}
.logo:hover {
  text-decoration: underline solid blue 4px;
}
.logo span {
  color: blue;
  font-size: 26px;
  font-weight: 700;
}
.hero {
  height: 600px;
  left: 0px;
  top: 80px;

  background: #2f303a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("./images/Bg.webp");
  margin-bottom: 94px;
}
h1 {
  font-family: "Roboto";
  font-style: normal;
  color: white;
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  width: 696px;
  height: 120;
}

.button {
  padding: 10px 41px 10px 42px;

  background-color: blue;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;

  border: none;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.first {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 94px;
}
.first ul {
  display: flex;
  margin-right: 215px;
  margin-left: 215px;
}
.first li {
  list-style-type: none;
}
.first li:not(:last-child) {
  margin-right: 30px;
}
.first h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.first p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}
.second {
  margin-bottom: 188px;
}
.second h2,
.third h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  color: #212121;
}
.second,
.third {
  max-width: 1600px;
}

.second ul,
.third ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.second li,
.third li {
  margin-right: 30px;
  list-style-type: none;
}
.third li {
  margin-bottom: 94px;
  border-bottom: #212121 solid 1px;
}
.third h3 {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.third p {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

footer {
  height: 252px;
  background-image: url("./images/Bg.webp");
}
footer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer p {
  color: white;
}
footer a {
  font-size: 14px;
  display: block;
  margin-right: 50px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
footer a:hover {
  text-decoration: underline solid blue 2px;
}
footer li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer ul {
  padding: 0;
  margin: 24px 93px 25px 215px;
}
.logo-footer {
  font-size: 26px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  margin: 0px 93px 25px 215px;
}
.logo-footer:hover {
  text-decoration: underline solid blue 4px;
}
.logo-footer span {
  color: blue;
  font-size: 26px;
  font-weight: 700;
}
